/* THIS IS FOR THE NAVBAR EXCLUSIVELY FOR THE HOMEPAGE */

*{
    margin: 0;
    padding: 0;
    font-family: Kanit;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Menu li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.Menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    padding: 15px;
}
li a:hover{
    background-color: white;
    transition: 0.5s;
}
.Menu a:hover{
    color: black;
}


/* THIS IS FOR THE ANIMATED HOME BACKGROUND */

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(101, 37, 94, 0.8),rgba(101, 37, 94, 0.8));
    background-position: center;
}
#portfolio{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
#portfolio h1{
    margin-top: 80px;
    font-size: 90px;
    font-weight: 800;
}
header video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    header video{
        width: 100%;
        height: auto;
    }
}


/* THIS IS FOR THE PROFILE SECTION */

main{
    text-align: center;
}
#name{
    font-size: 60px;
}
#About h2{
    margin-top: -32px;
}
.profile{
    display: inline-flex;
    justify-content: space-between;
}
.profile img{
    height: 350px;
    width: 100%;
    border: 3px solid black;
    border-radius: 100%;
}
.profile p{
    font-size: 25px;
    width: 700px;
    height: 380px;
    overflow: hidden;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    margin-inline: 50px 100px;
}


/* THIS IS THE SOCIAL LINKS SECTION */

.socials{
    background-color: rgba(101, 37, 94, 0.8);
    color: white;
}
.sociallogos{
    display: inline-flex;
    justify-content: space-between;
}
.sociallogos img{
    margin-inline: 10px;
}
.sociallogos #facebook{
    margin-top: 25px;
    padding-right: 15px;
}
.sociallogos #instagram{
    margin-top: 25px;
    padding-left: 15px;
}


/* THIS IS FOR THE PAGINATION EFFECT IN HOME */

.pagination{
    position: relative;
    left: 100px;
    top: 73px;
}
#arrowhover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s ease-out;
}
#arrowhover:hover{
    opacity: 1;
}